{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}


<div class = "my-5 text-center">

    <div class = "my-5", style = "font-family: 'Gowun Batang', serif;
font-family: 'IBM Plex Sans KR', sans-serif;">
        <h1>
            Login
        </h1>
    </div>

    <div style = "max-width: 900px; margin: auto; font-family: 'Gowun Batang', serif;
font-family: 'IBM Plex Sans KR', sans-serif;">
        <form action = "{% url 'accountapp:login' %}" method = "post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class ="btn btn-outline-success rounded-pill px-4 my-5" type = "submit">
                Register
            </button>
        </form>
    </divstyle>


</div>
{% endblock %}