<div style="text-align: center;" xmlns:font-family="http://www.w3.org/1999/xhtml">

    <div>
        <a href="{% url 'home' %}">
        <h1 class="my-5" style ="font-family: 'Gowun Batang', serif;"> 우리가족 사진첩</h1>
        </a>
    </div>
    <div class = "mb-4" style = "font-family: 'Gowun Batang', serif;
font-family: 'IBM Plex Sans KR', sans-serif;">
         <span>
             <a href="{% url 'home' %}">
                 추억폴더 &nbsp;&nbsp;&nbsp;&nbsp;
             </a>
         </span>
         <span>스텔업은? &nbsp;&nbsp;&nbsp;&nbsp;</span>
         <span>안내 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% if user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
            My page &nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
            Logout
            </a>
        </span>

        {% else %}
        <span>
            <a href="{% url 'accountapp:login' %}">
            Login &nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
            회원가입
            </a>
        </span>

        {% endif %}
    </div>

</div>